*{
    background-color: blanchedalmond;
}
            
.square {
    width: 150px;
    height: 150px;
    background: blue;	
    position: relative;
}
#skewed .square{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: purple;
  
}
#skewed .square:hover{
    transform-origin: top left;
    transform: skew(10deg, 10deg);
}
#scale .square div{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 75px;
    height: 75px;
    background-color: black;
}
#scale .square div:hover{
    transform: scale(2,3);
}
#rotate .square {
    background-color: tomato;
    
}
#rotate .square:hover{
    transform: rotate(20deg);
}
/*Translate*/
#translate .square {
    background-color: orange;
}
 
#translate .square:hover { 
    transform: translate(2000px);
    transform: translate(70%);

}